.scrollable {
    background-color: rgba(233, 225, 225, 0.071);
    opacity: 1;
}

.main_window {
    background-color: rgba(0, 0, 0, 0.057);
    /* background-image: url('./Resources/images/back.jpg'); */
}

.message_list {
    background-color: grey;
}

#message_text:hover {
    border-radius: 30px;
    border-color: black;
    background-color: white;
}

#message_text:active {
    border-radius: 30px;
    background-color: white;
    border-color: black;
}

#message_text {
    border-radius: 30px;
    background-color: white;
    font-size: 20px;
    border-color: black;
}

.username_inmsg {
    font-size: 20px;
}

.send_button {
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 20px;
}

.chat_chooser_button:hover:active {
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 20px;
}

.main_menu_buttons:hover:active {
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 20px;
}

.chat_chooser_button {
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

.main_menu_buttons {
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}


.profile_scrollable {
    background-color: grey;
    opacity: 1;
}

.profile_name {
    font-size: 30px;
    color: whitesmoke;
    margin-left: 10px;
    background-color: darkblue;
    opacity: 0.5;
}

.profile_id {
    font-size: 30px;
    color: whitesmoke;
    margin-left: 10px;
    background-color: darkblue;
    opacity: 0.5;
}

.profile_name_label {
    font-size: 20px;
    color: whitesmoke;
}

.profile_id_label {
    font-size: 20px;
    color: whitesmoke;
}

.profile_button_edit {
    font-size: 25px;
    border-radius: 20px;
}

.profile_button_save {
    background-image: none;
    font-size: 25px;
    background-color: green;
    color: white;
    border-radius: 20px;
}

.profile_button_cancel {
    background-image: none;
    font-size: 25px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

.profile_button_save:hover {
    background-image: none;
    font-size: 30px;
    background-color: green;
    border-radius: 20px;
}

.profile_button_cancel:hover {
    background-image: none;
    font-size: 30px;
    background-color: red;
    border-radius: 20px;
}

.contacts_button_add {
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

.contacts_button_add:hover:active {
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 20px;
}

.contacts_button_cancel {
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

.contacts_button_cancel:hover:active {
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 20px;
}

.treeview.view {
    font-size: 40px;
}