* {
    box-shadow: none;
    text-shadow: none;
    border: none;
}
.stack-switcher * {
    background: #1d1d1d;
    color: #6e666c;
}
.sidebar * {
    background: #121212;
    color: #6e666c;
}
entry {
    color: #1a756a;
    background: #1d1d1d;
    border-radius: 5px;
}
textview * {
    color: #1a756a;
    background: #1d1d1d;
    padding: 5px;
    /* border-radius: 5px; */
}
combobox * {
    color: #1a756a;
    background: #1d1d1d;
    border-radius: 5px;
}
.main_chat_screen_window {
    background:#121212;
    /* background-image: url('./Resources/images/uchan.jpg');
    background-size: 20% 20%; */
    color: #6e666c;
    /* font-size: 18px; */
}
.main_menu_button {
    background: #1d1d1d;
    color: #6e666c;
}
.create_room_button {
    background: #1d1d1d;
    color: #6e666c;
}
.exit_button {
    background: #1d1d1d;
    color: #6e666c;
}
/* --------------------- chat screen */

.chat_screen_header {
    background: #1d1d1d;
    color: #6e666c;
    font-size: 25px;
}
list {
    background:#121212;
}
.left_room_button {
    background: #05ad9c;
    color: #121212;
}
.send_button {
    background: #05ad9c;
    color: #121212;
}
.send_img_button {
    background: #05ad9c;
    color: #121212;
}
/* --------------------- messages */
.message_date {
    color: #6e666c;
}
.message_username {
    font-size: 16px;
    font-weight: bold;
    color: #6e666c;
}
/* .message_img_button {
    background: #3e0f15;
    color: #db707d;
} */
.message_button {
    background: #1d1d1d;
    color: #05ad9c;
}
/* --------------------- create room */
.create_room_box {
    background: rgba(110, 103, 108, 0.5);
    color: antiquewhite;
}
.create_room_cancel_buttons {
    background: #05ad9c;
    color: #121212;
}
.create_room_create_buttons {
    background: #05ad9c;
    color: #121212;
}
/* --------------------- add contact */
.add_contact_box {
    background: rgba(110, 103, 108, 0.5);
    color: antiquewhite;
}
.add_contact_cancel_buttons {
    background: #05ad9c;
    color: #121212;
}
.add_contact_add_buttons {
    background: #05ad9c;
    color: #121212;
}
/* --------------------- create group */
.create_group_box {
    background: rgba(110, 103, 108, 0.5);
    color: antiquewhite;
}
.create_group_cancel_buttons {
    background: #05ad9c;
    color: #121212;
}
.create_group_create_buttons {
    background: #05ad9c;
    color: #121212;
}
/* --------------------- contacts */
.contact_header {
    background: #1d1d1d;
    color: #6e666c;
    font-size: 25px;
}
treeview.view * {
    background: #121212;
    color: #6e666c;
}
.add_contact_button {
    background: #1d1d1d;
    color: #6e666c;
}
.create_group_button {
    background: #1d1d1d;
    color: #6e666c;
}
.contact_tree.view header {
    background: #290a0e;
    color: antiquewhite;
}

/* --------------------- preferences */
.preferences_header {
    background: #1d1d1d;
    color: #6e666c;
    font-size: 25px;
}
.preferences_box {
    color: #6e666c;
}
.change_password_button {
    background: #1d1d1d;
    color: #6e666c;
}
.delete_profile_button {
    background: #1d1d1d;
    color: #6e666c;
}
/* --------------------- profile */
.profile_header {
    background: #1d1d1d;
    color: #6e666c;
    font-size: 25px;
}
.profile_label {
    color: #6e666c;
}
.profile_edit_button {
    background: #1d1d1d;
    color: #6e666c;
}
.change_avatar_button {
    background: #1d1d1d;
    color: #6e666c;
}
