#loginbt {
    background-color: white;
}

#loginbt:hover {
    background-color: white;
}

#loginbt:active {
    background-color: white;
}

#registerbt {
    background-color: white;
}

#registerbt:hover {
    background-color: white;
}

#registerbt:active {
    color: black;
}

#username_label {
    color: black;
    font-size: large;
}

#password_label {
    color: black;
    font-size: large;
}
